<div class="row">
    <div class="col-md-8">
        <h2>Detail Contact</h2>
        <% if (!contact) { %>
            <div class="alert alert-danger fw-bold" role="alert">
                Kontak tidak ditemukan!
                <br>
                <a href="/contacts" class="alert-link fw-normal">Kembali ke daftar kontak.</a>
            </div>
        <% } else { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= contact.nama %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= contact.noHp %></h6>
                    <p class="card-text"><%= contact.email %></p>
                    <a href="/contacts/edit/<%= contact.nama %>"
                        class="btn btn-info badge">Ubah</a>
                    <a href="/contacts/delete/<%= contact.nama %>"
                        onclick="return confirm('Yakin?')"
                        class="btn btn-danger badge">Hapus</a>
                    <a href="/contacts" class="card-link d-block mt-3">
                        &laquo; Kembali ke daftar kontak
                    </a>
                </div>
            </div>
        <% } %>
    </div>
</div>